---
interface Props {
  title: string;
  body: string;
  cta: string;
  cta2: string;
}

const { title, body, cta, cta2 } = Astro.props;
---

<section class="bg-white dark:bg-gray-900">
  <div
    class="container flex flex-col items-center px-4 py-12 mx-auto text-center"
  >
    <h2
      class="max-w-2xl mx-auto text-2xl font-semibold tracking-tight text-gray-800 xl:text-3xl dark:text-white"
    >
      {title}
      <span class="text-blue-500">next level.</span>
    </h2>

    <p class="max-w-4xl mt-6 text-center text-gray-500 dark:text-gray-300">
      {body}
    </p>

    <div class="inline-flex w-full mt-6 sm:w-auto">
      <a
        href="#"
        class="inline-flex items-center justify-center w-full px-6 py-2 text-white duration-300 bg-blue-600 rounded-lg hover:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80 mx-2"
      >
        {cta}
      </a>
      <a
        href="#"
        class="inline-flex items-center justify-center w-full px-6 py-2 text-white duration-300 border-2 border-blue-950 border-r-4 rounded-lg hover:bg-blue-800 focus:ring focus:ring-blue-300 focus:ring-opacity-80"
      >
        {cta2}
      </a>
    </div>
  </div>
</section>
