<div class="bloque-1 container-fluid">
  <div class="text-center">
    <p>
      ¿Estás cansado de esas agencias que te hacen perder el tiempo revisando
      publicaciones?
    </p>
    <p>
      ¿Tu agencia solo te da pretextos de por qué no está generando más
      prospectos o ventas para tu negocio?
    </p>
    <p>Llegaste al lugar indicado.</p>
    <p>Da clic aquí y agenda un diagnóstico de marketing totalmente GRATIS</p>
    <a class="btn btn-primary" href="#">Agendar diagnóstico</a>
  </div>
  <div class="img-bloque1">
    <img src="" alt="imagen" />
  </div>
</div>
