---
import Boton from './Boton.astro';
---

<div
  class="bloque-1 py-10 flex flex-col justify-center items-center gap-5 text-center"
>
  <div class="text-center"></div>
  <div class="img-bloque1 bg-slate-800">
    <canvas></canvas>
  </div>
  <p>
    ¿Estás cansado de esas agencias que te hacen perder el tiempo revisando
    publicaciones?
  </p>
  <p>
    ¿Tu agencia solo te da pretextos de por qué no está generando más prospectos
    o ventas para tu negocio?
  </p>
  <p>Llegaste al lugar indicado.</p>
  <p>
    Da clic aquí y agenda un diagnóstico de marketing totalmente <span
      class="font-bold text-secondary">GRATIS</span
    >
  </p>
  <Boton btn="Agendar Diagnóstico" />
</div>