---
interface Props {
  btn: string;
}

const { btn } = Astro.props;
---

<a
  class="cursor-pointer bg-principal hover:bg-secondary text-text font-bold py-3 px-5 rounded-md"
  href="#">
    {btn}
</a>