---
 interface Props {
    btn: string;
 }

 const { btn } = Astro.props;
---


<a class="shadow-md shadow-slate-800 bg-secondary hover:bg-primary text-text font-bold py-2 px-4 rounded-full transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg cursor-pointer" href="#">{btn}</a>