---
interface Props {
  iconoSvg: string;
  text: string;
}

const { iconoSvg, text } = Astro.props;
---

<div class="flex flex-col items-center justify-center bg-principal rounded-md mx-5 my-2 p-10">
  <svg class="icono h-10 w-ful text-text" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
    <path d={iconoSvg}></path>
  </svg>
  <p class="w-2/5 text-text text-start">{text}</p>
</div>
