---
interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<div class="flex flex-col justify-between items-center gap-1 my-3 lg:my-0 max-w-sm">
  <img class="bg-red-500 rounded-full max-w-32" src="https://preview.redd.it/trying-to-come-up-with-a-new-avatar-for-my-various-social-v0-wby69l6e1lsb1.jpg?width=519&format=pjpg&auto=webp&s=61341c3ce447f8356da3146c1903395fc43d28dc" alt="desarrollador web">
  <h3 class="font-bold">{title}</h3>
  <p>{text}</p>
</div>