---
interface Props {
  name: string;
  pag1: string;
  pag2: string;
  pag3: string;
}

const { name, pag1, pag2, pag3 } = Astro.props;
---

<header class="flex justify-center items-start fixed w-full h-full">
  <nav
    class="bg-background text-principal z-10 w-full h-auto top-0 left-0 flex flex-row flex-wrap lg:flex-nowrap justify-between items-center px-8 py-2 shadow-md shadow-slate-800 rounded-lg opacity-80 m-3"
  >
    <div class="logo font-large font-bold text-base sm:text-lg hover:text-secondary cursor-pointer">
      <h1>{name}</h1>
    </div>
    <button>
      <svg class="w-6 h-6 text-principal lg:hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
      </svg>
      
    </button>
    <ul class="navbar-list flex flex-col lg:flex-row w-full lg:w-auto justify-around items-center">
      <li class="my-5 lg:my-0">
        <a
          href="#"
          class="hover:bg-secondary hover:text-text font-bold px-4 py-2 rounded-xl cursor-pointer"
          >{pag1}</a
        >
      </li>
      <li class="my-5 lg:my-0">
        <a
          href="#"
          class="hover:bg-secondary hover:text-text font-bold px-4 py-2 rounded-xl cursor-pointer"
          >{pag2}</a
        >
      </li>
      <li class="my-5 lg:my-0">
        <a
          href="#"
          class="hover:bg-secondary hover:text-text font-bold px-4 py-2 rounded-xl cursor-pointer"
          >{pag3}</a
        >
      </li>
    </ul>
  </nav>
</header>
